@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BasicProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

     <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BasicProject</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 row">
                        
                            <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                        
                            <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>

                            
                            <li class="nav-item d-flex flex-row-reverse ">
                            <!-- Button trigger modal -->
<button onclick="GetData(`@HttpContextAccessor.HttpContext.Session.GetString("username")`)" type="button" class="btn btn-info ml-5 p-2" data-toggle="modal" data-target="#exampleModal">
 <i class="fa-solid fa-user"></i>  @HttpContextAccessor.HttpContext.Session.GetString("username")
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Hello <b id="designation"></b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
                <div class="col-6">Username: <b id="username"></b></div>
                <div class="col-6">CitizenShip No: <b id="citizen"></b></div>
        </div>
        <hr />
        <div class="row">
                <div class="col-6">FirstName: <b id="firstname"></b></div>
                <div class="col-6">LastName: <b id="lastname"></b></div>
        </div>
        <hr />

        <div class="row">
            
                <div class="col-6">Email: <b id="email"></b></div>
                
        </div>
        <hr />
        <div class="row">
            
                <div class="col-6">Phone Number: <b id="phonenumber"></b></div>
                
        </div>
      </div>
      
    </div>
  </div>
</div>
                            </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - BasicProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script>
function GetData(username) {
    $.ajax({
    url:'Login/GetByIdUser',
    method:'POST',
    data: {username: username},
    dataType:'json',
    success: function(data) {
        console.log(data);
        $("#username").text(data.username);
        $("#citizen").text(data.citizenshipnumber);
        $("#firstname").text(data.firstname);
        $("#lastname").text(data.lastname);
        $("#email").text(data.email);
        $("#phonenumber").text(data.phonenumber);
        $("#designation").text(data.designationname)
    },
    error: function(error) {
        console.log(error.responseText);
        alert("Ok");
    }
});
}

    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Profiler.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
